@model LabWork_5.Models.UserProfileModel

@{ ViewBag.Title = "View User Data"; }

<h2>@ViewBag.Title</h2>

<form>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" readonly class="form-control" id="email" aria-describedby="emailHelp" value="@Model.Email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with enyone else.</small>
    </div>
    <div class="form-group">
        <label for="username">UserName</label>
        <input type="text" readonly class="form-control" id="username" value="@Model.UserName">
    </div>
    <div class="form-group">
        <label for="fl">FirstName, LastName</label>
        <input type="text" readonly class="form-control" id="fl" value="@Model.FirstName, @Model.LastName">
    </div>
    <div class="form-group">
        <label for="pn">PhoneNumber</label>
        <input type="text" readonly class="form-control" id="pn" value="@Model.PhoneNumber">
    </div>
</form>